<html>
    <head>MyApp</head>
    <body>
        <h1>{{title}}</h1>
        <p>
            <h3>My Sub</h3>
        </p>
        <ul>
            {{#each list}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>